In [1]:
import pandas as pd 
import os 
from Functions import evaluate

In [7]:
os.listdir("./data/in/the-movies-dataset")

['.ipynb_checkpoints',
 'credits.csv',
 'keywords.csv',
 'links.csv',
 'links_small.csv',
 'movies_metadata.csv',
 'ratings.csv',
 'ratings_small.csv']

In [8]:
credits = pd.read_csv("data/in/the-movies-dataset/credits.csv")

In [9]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [10]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [11]:
cast = credits[["id", "cast"]]
crew = credits[["id","crew"]]

In [12]:
crew.head()

      id                                               crew
0    862  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1   8844  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2  15602  [{'credit_id': '52fe466a9251416c75077a89', 'de...
3  31357  [{'credit_id': '52fe44779251416c91011acb', 'de...
4  11862  [{'credit_id': '52fe44959251416c75039ed7', 'de...

### Get Cast Data

In [13]:
_,clean_cast = evaluate.evaluate(cast, "id", "cast")

done all data evaluated------> ] 99%

In [14]:
evaluate.create_dir("data/evaluate/raw/")
clean_cast.to_csv('data/evaluate/raw/cast.csv',index=False)

File Exist

In [15]:
del clean_cast, cast  # use del to free memory

### Get Crew Data

In [16]:
_,clean_crew = evaluate.evaluate(crew , "id","crew")

done all data evaluated------> ] 99%

In [17]:
evaluate.create_dir("data/evaluate/raw/")
clean_crew.to_csv('data/evaluate/raw/crew.csv',index=False)

File Exist

In [18]:
del crew, clean_crew , credits

### Get Keywords Data

In [19]:
keywords = pd.read_csv("data/in/the-movies-dataset/keywords.csv")

In [20]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [21]:
_,clean_keywords = evaluate.evaluate(keywords, "id", "keywords")

done all data evaluated------> ] 99%

In [22]:
evaluate.create_dir("data/evaluate/raw/")
clean_keywords.to_csv('data/evaluate/raw/keywords.csv',index=False)

File Exist

In [23]:
del keywords , clean_keywords

### Get Genre and production company Data

In [2]:
movies = pd.read_csv("data/evaluate/raw/clean_movies.csv")

In [3]:
genres = movies[["id","genres"]]

In [4]:
genres.head()

      id                                             genres
0    862  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1   8844  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  15602  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  31357  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  11862                     [{'id': 35, 'name': 'Comedy'}]

In [5]:
_,movie_genres = evaluate.evaluate(genres, "id","genres")

done all data evaluated------> ] 99%

In [6]:
evaluate.create_dir("data/evaluate/raw/")
movie_genres.to_csv('data/evaluate/raw/genres.csv',index=False)

File Exist

In [7]:
del genres , movie_genres

In [8]:
comp_name = movies[["id","production_companies"]]

In [9]:
comp_name.head()

      id                               production_companies
0    862     [{'name': 'Pixar Animation Studios', 'id': 3}]
1   8844  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2  15602  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3  31357  [{'name': 'Twentieth Century Fox Film Corporat...
4  11862  [{'name': 'Sandollar Productions', 'id': 5842}...

In [10]:
error_indx,prod_company = evaluate.evaluate(comp_name, "id" , "production_companies")

can not evaluate 3 raws------> ] 99%

In [11]:
comp_name.iloc[error_indx]

           id production_companies
19724   82663                    0
29489  122662                    0
35572  249260                    0

In [12]:
evaluate.create_dir("data/evaluate/raw/")
prod_company.to_csv('data/evaluate/raw/prod_company.csv',index=False)

File Exist

In [13]:
del movies , comp_name , prod_company , error_indx