In [1]:
import pandas as pd 
import os
from Functions import evaluate

In [2]:
os.listdir("./data/evaluate/raw/")

['.ipynb_checkpoints',
 'cast.csv',
 'clean_movies.csv',
 'crew.csv',
 'genres.csv',
 'keywords.csv',
 'prod_company.csv']

In [3]:
cast = pd.read_csv("./data/evaluate/raw/cast.csv")

In [4]:
cast.head()

,cast_id,character,credit_id,gender,id,name,order,profile_path,movie_id
0,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862

In [5]:
cast.columns

Index(['cast_id', 'character', 'credit_id', 'gender', 'id', 'name', 'order',
       'profile_path', 'movie_id'],
      dtype='object')

In [6]:
cols_needed = ['character','name','order','movie_id']
cast = cast[cols_needed]

In [7]:
cast.head()

                 character           name  order  movie_id
0            Woody (voice)      Tom Hanks    0.0       862
1   Buzz Lightyear (voice)      Tim Allen    1.0       862
2  Mr. Potato Head (voice)    Don Rickles    2.0       862
3       Slinky Dog (voice)     Jim Varney    3.0       862
4              Rex (voice)  Wallace Shawn    4.0       862

In [8]:
cast.isna().any()

character     True
name         False
order        False
movie_id     False
dtype: bool

In [9]:
cast.character.isna().sum()

25783

Fill to "NotProvided"

In [10]:
cast.fillna("NotProvided", inplace=True)

In [11]:
cast.isna().any()

character    False
name         False
order        False
movie_id     False
dtype: bool

In [12]:
cast.duplicated().sum()

430

In [13]:
cast.drop_duplicates(inplace=True)

In [14]:
movies_id = cast.movie_id.value_counts().index.tolist()

In [15]:
map_dict = dict(enumerate(movies_id,start=1))
map_dict = dict(map(reversed, map_dict.items()))

In [16]:
cast['DimCastID'] = cast['movie_id'].apply(lambda x : map_dict[x])

In [17]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 562044 entries, 0 to 562473
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   character  562044 non-null  object
 1   name       562044 non-null  object
 2   order      562044 non-null  float64
 3   movie_id   562044 non-null  int64
 4   DimCastID  562044 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 25.7+ MB

In [18]:
cast['order'] = cast.order.astype("int64")

In [19]:
# for Nan Value In Dim's In fact table
cast.loc[len(cast.index)] = ["NotProvided", 'NotProvided',-1,-1,-1]

In [23]:
cast.head()

                 character           name  order  movie_id  DimCastID
0            Woody (voice)      Tom Hanks      0       862      16223
1   Buzz Lightyear (voice)      Tim Allen      1       862      16223
2  Mr. Potato Head (voice)    Don Rickles      2       862      16223
3       Slinky Dog (voice)     Jim Varney      3       862      16223
4              Rex (voice)  Wallace Shawn      4       862      16223

In [21]:
evaluate.create_dir("data/out")
cast.to_csv("data/out/Dim-Cast.csv", index=False)

File Exist