In [1]:
import pandas as pd 
import os
from Functions import evaluate

In [2]:
os.listdir("./data/evaluate/raw/")

['.ipynb_checkpoints',
 'cast.csv',
 'clean_movies.csv',
 'crew.csv',
 'genres.csv',
 'keywords.csv',
 'prod_company.csv']

In [3]:
dates = pd.read_csv("./data/evaluate/raw/clean_movies.csv", usecols=['id','release_date'])

In [4]:
dates.head()

      id                   release_date
0    862  1995-10-30 00:00:00.000000000
1   8844  1995-12-15 00:00:00.000000000
2  15602  1995-12-22 00:00:00.000000000
3  31357  1995-12-22 00:00:00.000000000
4  11862  1995-02-10 00:00:00.000000000

In [5]:
dates['release_date'] = pd.to_datetime(dates['release_date'])

In [6]:
dates.isna().any()

id              False
release_date    False
dtype: bool

In [7]:
dates.duplicated().sum()

13

In [8]:
dates.drop_duplicates(inplace=True)

In [9]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45433 entries, 0 to 45445
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45433 non-null  int64
 1   release_date  45433 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.0 MB

In [10]:
dates['year'] = dates['release_date'].dt.year.astype(int)
dates['quarter'] = dates['release_date'].dt.to_period('Q').dt.strftime('Q%q')
dates['month'] = dates['release_date'].dt.month_name()
dates['day'] = dates['release_date'].dt.day_name()

In [11]:
dates["DimDateID"] = range(1,dates.shape[0]+1)

In [12]:
dates.head()

      id release_date  year quarter     month     day  DimDateID
0    862   1995-10-30  1995      Q4   October  Monday          1
1   8844   1995-12-15  1995      Q4  December  Friday          2
2  15602   1995-12-22  1995      Q4  December  Friday          3
3  31357   1995-12-22  1995      Q4  December  Friday          4
4  11862   1995-02-10  1995      Q1  February  Friday          5

In [13]:
dates['id'] = dates.id.astype("int64")

In [14]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45433 entries, 0 to 45445
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45433 non-null  int64
 1   release_date  45433 non-null  datetime64[ns]
 2   year          45433 non-null  int32
 3   quarter       45433 non-null  object
 4   month         45433 non-null  object
 5   day           45433 non-null  object
 6   DimDateID     45433 non-null  int64
dtypes: datetime64[ns](1), int32(1), int64(2), object(3)
memory usage: 2.6+ MB

In [15]:
evaluate.create_dir("data/out")
dates.to_csv("data/out/Dim-Dates.csv", index=False)

File Exist