In [1]:
import pandas as pd 
import os
from Functions import evaluate

In [2]:
os.listdir("./data/evaluate/raw/")

['.ipynb_checkpoints',
 'box_office_data.csv',
 'cast.csv',
 'clean_movies.csv',
 'crew.csv',
 'genres.csv',
 'keywords.csv',
 'prod_company.csv',
 'userrating.csv']

In [3]:
pc = pd.read_csv("./data/evaluate/raw/prod_company.csv")

In [4]:
pc.head()

                        name       id  movie_id
0    Pixar Animation Studios      3.0       862
1           TriStar Pictures    559.0      8844
2               Teitler Film   2550.0      8844
3  Interscope Communications  10201.0      8844
4               Warner Bros.   6194.0     15602

In [5]:
pc = pc[['name', 'movie_id']]

In [6]:
pc.head()

                        name  movie_id
0    Pixar Animation Studios       862
1           TriStar Pictures      8844
2               Teitler Film      8844
3  Interscope Communications      8844
4               Warner Bros.     15602

In [7]:
pc.isna().any()

name        False
movie_id    False
dtype: bool

In [8]:
pc.duplicated().sum()

40

In [9]:
pc.drop_duplicates(inplace=True)

In [10]:
movies_id = pc.movie_id.value_counts().index.tolist()
map_dict = dict(enumerate(movies_id,start=1))
map_dict = dict(map(reversed, map_dict.items()))
pc['ProdCompID'] = pc['movie_id'].apply(lambda x : map_dict[x])
pc['DimProdCompID'] = range(pc.shape[0])

In [11]:
pc.loc[len(pc.index)] = ["NotProvided",-1,-1,-1]

In [12]:
pc = pc[['DimProdCompID','ProdCompID','name','movie_id']]

In [13]:
pc.head()

   DimProdCompID  ProdCompID                       name  movie_id
0              0       22856    Pixar Animation Studios       862
1              1        5435           TriStar Pictures      8844
2              2        5435               Teitler Film      8844
3              3        5435  Interscope Communications      8844
4              4       15661               Warner Bros.     15602

In [14]:
pc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70462 entries, 0 to 70501
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DimProdCompID  70462 non-null  int64
 1   ProdCompID     70462 non-null  int64
 2   name           70462 non-null  object
 3   movie_id       70462 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.7+ MB

In [15]:
evaluate.create_dir("data/out")
pc.to_csv("data/out/Dim_Production_Company.csv", index=False)

File Exist