In [1]:
import pandas as pd 
import os
from Functions import evaluate

In [2]:
os.listdir("./data/evaluate/raw/")

['.ipynb_checkpoints',
 'cast.csv',
 'clean_movies.csv',
 'crew.csv',
 'genres.csv',
 'keywords.csv',
 'prod_company.csv']

In [3]:
genre = pd.read_csv("./data/evaluate/raw/genres.csv")

In [4]:
genre.head()

        id       name  movie_id
0     16.0  Animation       862
1     35.0     Comedy       862
2  10751.0     Family       862
3     12.0  Adventure      8844
4     14.0    Fantasy      8844

In [5]:
genre = genre[['name','movie_id']]

In [6]:
genre.isna().any()

name        False
movie_id    False
dtype: bool

In [7]:
genre.duplicated().sum()

39

In [8]:
genre.drop_duplicates(inplace=True)

In [9]:
movies_id = genre.movie_id.value_counts().index.tolist()
map_dict = dict(enumerate(movies_id,start=1))
map_dict = dict(map(reversed, map_dict.items()))
genre['DimGenreID'] = genre['movie_id'].apply(lambda x : map_dict[x])

In [10]:
genre.loc[len(genre.index)] = ["NotProvided",-1,-1]

In [11]:
genre.head()

        name  movie_id  DimGenreID
0  Animation       862        6801
1     Comedy       862        6801
2     Family       862        6801
3  Adventure      8844        5172
4    Fantasy      8844        5172

In [12]:
genre['movie_id'] = genre.movie_id.astype('int64')

In [13]:
genre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91015 entries, 0 to 91053
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        91015 non-null  object
 1   movie_id    91015 non-null  int64
 2   DimGenreID  91015 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [14]:
evaluate.create_dir("data/out")
genre.to_csv("data/out/Dim-genres.csv", index=False)

File Exist