In [41]:
import pandas as pd 
import os 
from Functions import evaluate

In [2]:
os.listdir("./data/in/the-movies-dataset")

['.ipynb_checkpoints',
 'credits.csv',
 'keywords.csv',
 'links.csv',
 'links_small.csv',
 'movies_metadata.csv',
 'ratings.csv',
 'ratings_small.csv']

In [3]:
movies = pd.read_csv("./data/in/the-movies-dataset/movies_metadata.csv")

C:\Users\hheka\AppData\Local\Temp\ipykernel_17564\1465427781.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("./data/in/the-movies-dataset/movies_metadata.csv")

In [4]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

To begin with, we will drop all the columns that we do not need

In [6]:
col_needed = ['id','adult','original_title','runtime', 'budget', 'genres','popularity',
              'production_companies','release_date', 'revenue', 'vote_average']

In [7]:
movies = movies[col_needed]

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    45466 non-null  object
 1   adult                 45466 non-null  object
 2   original_title        45466 non-null  object
 3   runtime               45203 non-null  float64
 4   budget                45466 non-null  object
 5   genres                45466 non-null  object
 6   popularity            45461 non-null  object
 7   production_companies  45463 non-null  object
 8   release_date          45379 non-null  object
 9   revenue               45460 non-null  float64
 10  vote_average          45460 non-null  float64
dtypes: float64(3), object(8)
memory usage: 3.8+ MB

- convert id to int 
- convert adult col to bool
- fill Nan in runtime col to 0 
- convert budget to float
- Dealing with genres later 
- convet popularity to float
- Dealing with production_companies later 
- convert release_date col to date time 
- fill Nan in revenue to 0
- fill Nan in vote_averaget to average

### Convert id to int

In [9]:
movies.id.astype(int)

ValueError: invalid literal for int() with base 10: '1997-08-20'

It seems that id has a date date lets get that raws

In [10]:
indx =[]
for i in range(movies.shape[0]):
    try :
        int(movies.id[i])
    except:
        indx.append(i)
indx

[19730, 29503, 35587]

In [11]:
movies.iloc[indx]

,id,adult,original_title,runtime,budget,genres,popularity,production_companies,release_date,revenue,vote_average
19730,1997-08-20,- Written by Ã˜rnÃ¥s,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...",NaN,False,1,NaN,NaN
29503,2012-09-29,Rune Balot goes to a casino connected to the ...,"[{'iso_639_1': 'ja', 'name': 'æ—¥æœ¬èªž'}]",NaN,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",NaN,False,12,NaN,NaN
35587,2014-01-01,Avalanche Sharks tells the story of a bikini ...,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",Beware Of Frost Bites,False,22,NaN,NaN

A lot of NAn and values not in its position so i drop this raws

In [12]:
movies.drop(index=indx, inplace=True)

In [13]:
movies['id'] = movies.id.astype('int64')

In [14]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    45463 non-null  int64
 1   adult                 45463 non-null  object
 2   original_title        45463 non-null  object
 3   runtime               45203 non-null  float64
 4   budget                45463 non-null  object
 5   genres                45463 non-null  object
 6   popularity            45460 non-null  object
 7   production_companies  45460 non-null  object
 8   release_date          45376 non-null  object
 9   revenue               45460 non-null  float64
 10  vote_average          45460 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 4.2+ MB

### Convert adult col to bool

In [15]:
movies.adult.value_counts()

False    45454
True         9
Name: adult, dtype: int64

In [16]:
movies['adult'] = movies['adult'].map({"False": False , "True" : True})

### fill Nan in runtime col to 0

In [17]:
movies.runtime.isna().sum()

260

In [18]:
movies['runtime'] = movies.runtime.fillna(0)

In [19]:
movies.runtime.isna().sum()

0

### convert budget to float

In [20]:
(movies.budget.astype(float)==0).sum()

36573

we have 36573 movies it's budget value is 0 --- a lot of movies i will drop it

In [21]:
movies.drop(columns=['budget'], inplace=True)

In [22]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    45463 non-null  int64
 1   adult                 45463 non-null  bool
 2   original_title        45463 non-null  object
 3   runtime               45463 non-null  float64
 4   genres                45463 non-null  object
 5   popularity            45460 non-null  object
 6   production_companies  45460 non-null  object
 7   release_date          45376 non-null  object
 8   revenue               45460 non-null  float64
 9   vote_average          45460 non-null  float64
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 3.5+ MB

### convet popularity to float and fill Nan with mean

In [23]:
movies['popularity'] = movies.popularity.astype(float)

In [24]:
movies['popularity'] = movies.popularity.fillna(movies.popularity.mean())

In [25]:
movies.popularity.describe()

count    45463.000000
mean         2.921478
std          6.005216
min          0.000000
25%          0.386012
50%          1.127808
75%          3.678588
max        547.488298
Name: popularity, dtype: float64

### convert release_date col to date time

In [26]:
movies.release_date.isna().sum()

87

In [27]:
# fill Nan values with timestamp max
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

In [28]:
movies.release_date.fillna(pd.Timestamp.max, inplace=True)

In [29]:
movies['release_date'] = pd.to_datetime(movies.release_date)

### fill Nan in revenue to -1

In [30]:
movies.revenue.describe()

count    4.546000e+04
mean     1.120935e+07
std      6.433225e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.787965e+09
Name: revenue, dtype: float64

In [31]:
movies.revenue.fillna(-1, inplace=True)

In [32]:
movies.revenue.isna().sum()

0

### fill Nan in vote_averaget to average

In [33]:
movies.vote_average.isna().sum()

3

In [34]:
movies.vote_average.fillna(movies.vote_average.mean(), inplace=True)

In [35]:
movies.vote_average.isna().sum()

0

### check duplicates

In [36]:
movies.duplicated().sum()

17

In [37]:
movies.drop_duplicates(inplace=True)

In [38]:
movies.duplicated().sum()

0

In [39]:
movies.fillna(0, inplace=True)

In [40]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45446 entries, 0 to 45465
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    45446 non-null  int64
 1   adult                 45446 non-null  bool
 2   original_title        45446 non-null  object
 3   runtime               45446 non-null  float64
 4   genres                45446 non-null  object
 5   popularity            45446 non-null  float64
 6   production_companies  45446 non-null  object
 7   release_date          45446 non-null  datetime64[ns]
 8   revenue               45446 non-null  float64
 9   vote_average          45446 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 3.5+ MB

In [42]:
evaluate.create_dir("data/evaluate/raw")
movies.to_csv("data/evaluate/raw/clean_movies.csv",index=False)

File Exist