In [31]:
import pandas as pd 
import os
from Functions import evaluate

In [14]:
os.listdir("./data/evaluate/raw/")

['cast.csv', 'crew.csv', 'genres.csv', 'keywords.csv', 'prod_company.csv']

In [15]:
cast = pd.read_csv("./data/evaluate/raw/cast.csv")

In [16]:
cast.head()

,cast_id,character,credit_id,gender,id,name,order,profile_path,movie_id
0,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862

In [9]:
cast.columns

Index(['cast_id', 'character', 'credit_id', 'gender', 'id', 'name', 'order',
       'profile_path', 'movie_id'],
      dtype='object')

In [17]:
cols_needed = ['character','name','order','movie_id']
cast = cast[cols_needed]

In [19]:
cast.head()

                 character           name  order  movie_id
0            Woody (voice)      Tom Hanks    0.0       862
1   Buzz Lightyear (voice)      Tim Allen    1.0       862
2  Mr. Potato Head (voice)    Don Rickles    2.0       862
3       Slinky Dog (voice)     Jim Varney    3.0       862
4              Rex (voice)  Wallace Shawn    4.0       862

In [23]:
cast.isna().any()

character     True
name         False
order        False
movie_id     False
dtype: bool

In [27]:
cast.character.isna().sum()

25783

Fill to "NotProvided"

In [28]:
cast.fillna("NotProvided", inplace=True)

In [29]:
cast.isna().any()

character    False
name         False
order        False
movie_id     False
dtype: bool

In [32]:
evaluate.create_dir("data/out")
cast.to_csv("data/out/Dim-Cast.csv", index=False)

File Exist