In [1]:
import pandas as pd 
import os
from Functions import evaluate

In [2]:
os.listdir("./data/evaluate/raw/")

['.ipynb_checkpoints',
 'box_office_data.csv',
 'cast.csv',
 'clean_movies.csv',
 'crew.csv',
 'genres.csv',
 'keywords.csv',
 'prod_company.csv',
 'userrating.csv']

In [3]:
keywords = pd.read_csv("./data/evaluate/raw/keywords.csv")

In [4]:
keywords = keywords[['name','movie_id']]

In [5]:
keywords.head()

         name  movie_id
0    jealousy       862
1         toy       862
2         boy       862
3  friendship       862
4     friends       862

In [6]:
keywords.isna().any()

name        False
movie_id    False
dtype: bool

In [7]:
keywords.duplicated().sum()

2078

In [8]:
keywords.drop_duplicates(inplace=True)

In [9]:
movies_id = keywords.movie_id.value_counts().index.tolist()
map_dict = dict(enumerate(movies_id,start=1))
map_dict = dict(map(reversed, map_dict.items()))
keywords['KeywordsID'] = keywords['movie_id'].apply(lambda x : map_dict[x])
keywords['DimKeywordsID'] = range(keywords.shape[0])

In [10]:
keywords.loc[len(keywords.index)] = ["NotProvided",-1,-1,-1]

In [11]:
keywords = keywords[['DimKeywordsID','KeywordsID','name','movie_id']]

In [12]:
keywords.head()

   DimKeywordsID  KeywordsID        name  movie_id
0              0        4872    jealousy       862
1              1        4872         toy       862
2              2        4872         boy       862
3              3        4872  friendship       862
4              4        4872     friends       862

In [13]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156602 entries, 0 to 158679
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DimKeywordsID  156602 non-null  int64
 1   KeywordsID     156602 non-null  int64
 2   name           156602 non-null  object
 3   movie_id       156602 non-null  int64
dtypes: int64(3), object(1)
memory usage: 10.0+ MB

In [14]:
evaluate.create_dir("data/out")
keywords.to_csv("data/out/Dim_Keywords.csv", index=False)

File Exist