In [1]:
import pandas as pd 
import os
from Functions import evaluate

In [2]:
os.listdir("./data/evaluate/raw/")

['.ipynb_checkpoints',
 'cast.csv',
 'clean_movies.csv',
 'crew.csv',
 'genres.csv',
 'keywords.csv',
 'prod_company.csv']

In [3]:
movies = pd.read_csv('./data/evaluate/raw/clean_movies.csv')

In [4]:
movies.head(2)

,id,adult,original_title,runtime,genres,popularity,production_companies,release_date,revenue,vote_average
0,862,False,Toy Story,81.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30 00:00:00.000000000,373554033.0,7.7
1,8844,False,Jumanji,104.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15 00:00:00.000000000,262797249.0,6.9

In [5]:
movies.columns

Index(['id', 'adult', 'original_title', 'runtime', 'genres', 'popularity',
       'production_companies', 'release_date', 'revenue', 'vote_average'],
      dtype='object')

In [6]:
cols_needed = ['id', 'adult', 'original_title', 'runtime',
               'popularity','revenue', 'vote_average']
movies = movies[cols_needed]

In [7]:
movies.head(2)

     id  adult original_title  runtime  popularity      revenue  vote_average
0   862  False      Toy Story     81.0   21.946943  373554033.0           7.7
1  8844  False        Jumanji    104.0   17.015539  262797249.0           6.9

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45446 entries, 0 to 45445
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              45446 non-null  int64
 1   adult           45446 non-null  bool
 2   original_title  45446 non-null  object
 3   runtime         45446 non-null  float64
 4   popularity      45446 non-null  float64
 5   revenue         45446 non-null  float64
 6   vote_average    45446 non-null  float64
dtypes: bool(1), float64(4), int64(1), object(1)
memory usage: 2.1+ MB

In [9]:
movies.rename(columns={"id" : 'movie_id'}, inplace=True)

## Add Dim ID

In [10]:
os.listdir("./data/out/")

['.ipynb_checkpoints',
 'Dim-Cast.csv',
 'Dim-Crew.csv',
 'Dim-Dates.csv',
 'Dim-genres.csv',
 'Dim-keywords.csv',
 'Dim-Production-company.csv',
 'Fact.csv']

In [11]:
cast = pd.read_csv('./data/out/Dim-Cast.csv')
cast.columns

Index(['character', 'name', 'order', 'movie_id', 'DimCastID'], dtype='object')

In [12]:
movies = movies.merge(cast[['movie_id','DimCastID']] , how='left', on = 'movie_id').drop_duplicates()

In [13]:
crew = pd.read_csv('./data/out/Dim-Crew.csv')
crew.columns

Index(['name', 'department', 'job', 'movie_id', 'DimCrewID'], dtype='object')

In [14]:
movies = movies.merge(crew[['movie_id','DimCrewID']] , how='left', on = 'movie_id').drop_duplicates()

In [15]:
dates = pd.read_csv('./data/out/Dim-Dates.csv')
dates.rename(columns={"id" : "movie_id"},inplace=True)
dates.columns

Index(['movie_id', 'release_date', 'year', 'quarter', 'month', 'day',
       'DimDateID'],
      dtype='object')

In [16]:
movies = movies.merge(dates[['movie_id','DimDateID']] , how='left', on = 'movie_id').drop_duplicates()

In [17]:
genre = pd.read_csv('./data/out/Dim-genres.csv')
genre.columns

Index(['name', 'movie_id', 'DimGenreID'], dtype='object')

In [18]:
movies = movies.merge(genre[['movie_id','DimGenreID']] , how='left', on = 'movie_id').drop_duplicates()

In [19]:
keywords = pd.read_csv('./data/out/Dim-keywords.csv')
keywords.columns

Index(['name', 'movie_id', 'DimKeywordsID'], dtype='object')

In [20]:
movies = movies.merge(keywords[['movie_id','DimKeywordsID']] , how='left', on = 'movie_id').drop_duplicates()

In [21]:
pc = pd.read_csv('./data/out/Dim-Production-company.csv')
pc.columns

Index(['name', 'movie_id', 'DimProdCompID'], dtype='object')

In [22]:
movies = movies.merge(pc[['movie_id','DimProdCompID']] , how='left', on = 'movie_id').drop_duplicates()

In [23]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45446 entries, 0 to 82372
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movie_id        45446 non-null  int64
 1   adult           45446 non-null  bool
 2   original_title  45446 non-null  object
 3   runtime         45446 non-null  float64
 4   popularity      45446 non-null  float64
 5   revenue         45446 non-null  float64
 6   vote_average    45446 non-null  float64
 7   DimCastID       43031 non-null  float64
 8   DimCrewID       44674 non-null  float64
 9   DimDateID       45446 non-null  int64
 10  DimGenreID      43004 non-null  float64
 11  DimKeywordsID   31103 non-null  float64
 12  DimProdCompID   33572 non-null  float64
dtypes: bool(1), float64(9), int64(2), object(1)
memory usage: 4.6+ MB

In [24]:
# Replace nan with -1 
# the Dim tables Contain ID -1 With Not Provided Data

In [25]:
#movies.fillna(-1, inplace=True)

In [26]:
movies

,movie_id,adult,original_title,runtime,popularity,revenue,vote_average,DimCastID,DimCrewID,DimDateID,DimGenreID,DimKeywordsID,DimProdCompID
0,862,False,Toy Story,81.0,21.946943,373554033.0,7.7,16223.0,263.0,1,6801.0,4872.0,22856.0
1,8844,False,Jumanji,104.0,17.015539,262797249.0,6.9,3674.0,7013.0,2,5172.0,9189.0,5435.0
4,15602,False,Grumpier Old Men,101.0,11.712900,0.0,6.5,29060.0,25692.0,3,19431.0,15085.0,15661.0
6,31357,False,Waiting to Exhale,127.0,3.859495,81452156.0,6.1,22681.0,14045.0,4,13942.0,10481.0,26432.0
7,11862,False,Father of the Bride Part II,106.0,8.387519,76578911.0,5.7,18414.0,20961.0,5,29138.0,5180.0,15659.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82368,439050,False,رگ خواب,90.0,0.072051,0.0,4.0,40268.0,16972.0,45429,19430.0,25125.0,NaN
82369,111109,False,Siglo ng Pagluluwal,360.0,0.178241,0.0,9.0,19324.0,21491.0,45430,29180.0,17700.0,17981.0
82370,67758,False,Betrayal,90.0,0.903007,0.0,3.8,13072.0,25035.0,45431,10921.0,NaN,17980.0
82371,227506,False,Satana likuyushchiy,87.0,0.003503,0.0,0.0,36759.0,35285.0,45432,NaN,NaN,33562.0
82372,461257,False,Queerama,75.0,0.163015,0.0,0.0,NaN,44661.0,45433,NaN,NaN,NaN

In [28]:
movies.to_csv('data/out/Fact.csv',index=False)