In [1]:
import os 
import pandas as pd
from Functions import evaluate

In [2]:
box_office = pd.read_csv('data/in/the-movies-dataset/BoxOffice.csv')

In [3]:
box_office.head()

                    name  year Domestic Gross Overseas Gross Worldwide Gross
0                 Avatar  2009    780,956,847  2,125,000,000   2,905,956,847
1        The Mighty Macs  2009      1,864,952              0       1,864,952
2  Under the Silver Lake  2018         46,083      1,818,370       1,864,453
3        A Quiet Passion  2016      1,864,266              0       1,864,266
4          A Better Life  2011      1,759,252        104,167       1,863,419

In [4]:
box_office.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17691 entries, 0 to 17690
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             17691 non-null  object
 1   year             17691 non-null  object
 2   Domestic Gross   17691 non-null  object
 3   Overseas Gross   17691 non-null  object
 4   Worldwide Gross  17691 non-null  object
dtypes: object(5)
memory usage: 691.2+ KB

In [5]:
# rename col from name to original_title
box_office.rename(columns={'name' : 'original_title',
                           "Domestic Gross":"domestic_gross",
                           "Overseas Gross":'overseas_gross',
                           "Worldwide Gross":'worldwide_gross'},inplace=True)

In [6]:
# convert year to date time 
box_office['year'] = box_office.year.apply(lambda x : x.split("/")[0].split("(")[0])
box_office['year'] = box_office.year.astype(int)

In [7]:
box_office['domestic_gross'] = box_office['domestic_gross'].apply(lambda x : int(x.replace(',','')))
box_office['overseas_gross'] = box_office['overseas_gross'].apply(lambda x : int(x.replace(',','')))
box_office['worldwide_gross'] = box_office['worldwide_gross'].apply(lambda x : int(x.replace(',','')))

In [8]:
box_office.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17691 entries, 0 to 17690
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   original_title   17691 non-null  object
 1   year             17691 non-null  int32
 2   domestic_gross   17691 non-null  int64
 3   overseas_gross   17691 non-null  int64
 4   worldwide_gross  17691 non-null  int64
dtypes: int32(1), int64(3), object(1)
memory usage: 622.1+ KB

In [9]:
box_office.duplicated().sum()

1773

In [10]:
box_office = box_office.drop_duplicates()

In [12]:
evaluate.create_dir("data/out/")
box_office.to_csv("data/evaluate/raw/box_office_data.csv",index=False)

File Exist